/*********************************************
 * Custom
 *********************************************/


.reveal .rot45 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.reveal .rot90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.reveal .rot135 {
  -ms-transform: rotate(135deg); /* IE 9 */
  -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
  transform: rotate(135deg);
}

.reveal .rot180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.reveal .rot270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.reveal .graphnode {
  /* border: 5px solid #ccc;
  border-radius:50px; */
  background-image: url(assets/circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding:15px;
  width:70px;
}

.reveal .graphedge {
  /* border: 5px solid #ccc;
  border-radius:50px; */
  background-image: url(assets/horizontal-line.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width:70px;
}

.reveal .blah {
  display: block;
  position: relative;
  margin: 20px auto;
  line-height: 4rem;
  font-style: normal;
  border: 3px solid #FEF6E4;
  border-radius: 10px;
  background-color:#ECF1EF;
  background-color:#FEFFF1; /* subtle white */
  width:80%;
  padding: 10px;
  box-shadow: 10px 10px 5px #8B7D6B; 

}

.reveal pbadidea {
  width: 1300px;
  margin: auto;
  margin-bottom: 50px;
}

.reveal libadidea {
  width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}

.reveal .math {
  color:#9A2617;
}

.reveal .left {
  left:-8.33%; 
  text-align: center;
  float: left;
  width:48%;
  z-index:-10;
}

.reveal .right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: center;
  z-index:-10;
  width:48%;
}

@-webkit-keyframes eat {
    0% { -webkit-transform: scale(1, 1); } 
    25% { -webkit-transform: scale(1, 1.5); } 
    75% { -webkit-transform: scale(1, 0.75); } 
    100% { -webkit-transform: scale(1, 1); } 
}

.eat {
    -webkit-animation-name: eat;
    -webkit-animation-duration: 2s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes tremor {
    0% { -webkit-transform: translate(0px, 0px) rotate(0deg); } 
    25% { -webkit-transform: translate(-3px, 0px) rotate(-1deg); }
    75% { -webkit-transform: translate(3px, 0px) rotate(1deg); }
    100% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
}

.tremor {
    -webkit-animation-name: tremor;
    -webkit-animation-duration: 1s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}
