/*********************************************
 * Custom
 *********************************************/


.reveal .rot45 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.reveal .rot90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.reveal .rot135 {
  -ms-transform: rotate(135deg); /* IE 9 */
  -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
  transform: rotate(135deg);
}

.reveal .rot180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.reveal .rot270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.reveal .graphnode {
  /* border: 5px solid #ccc;
  border-radius:50px; */
  background-image: url(circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding:15px;
  width:70px;
}

.reveal .graphedge {
  /* border: 5px solid #ccc;
  border-radius:50px; */
  background-image: url(horizontal-line.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width:70px;
}

