/* 
 * CSS file for numenvs.py filter.
 */ 

.numenv {
  font-size:1.4rem;
  width:60%;
}

.numenv p {
  display:inline;
  font-style:italic;
}

.numenv p em {
  font-style:normal;
}

.numenv .title {
  font-weight:bold;
  margin-right:10px;
}

.numenv.Proof {
  margin-top: 1.4rem;
  padding-left: 1.4rem;
  border-left: 0.3rem solid #eee;
}

.numenv.Proof p {
  font-style:normal;
}

.numenv.Proof .title {
  font-weight:normal;
  font-style:italic;
  border: 0px;
  padding: 0px;
}
